<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="angular.js"></script>
    <style>
        #up{
            height: 350px;
            overflow: auto;
        }
        #down{
            display: block;
            margin-top: 2000px;
        }
    </style>
    <script>
        var myModule = angular.module("myModule", []);

        myModule.controller('X', function ($scope, $location, $anchorScroll) {
            $scope.goDown = function () {
                $location.hash('down');
                $anchorScroll();
            };
            $scope.goUp = function () {
                $location.hash('up');
                $anchorScroll();
            };
        });

    </script>
</head>
<body ng-app="myModule">
    <div ng-controller="X">
        <div style="color:green">
            <a id="up" ng-click="goDown()"> Go Down</a>
        </div>
        <div style="color:red">
            <a id="down" ng-click="goUp()"> You're at the bottom</a>
        </div>

    </div>
</body>
</html>
